table, th, td {
    border: 1px solid;
  }
  
  table{
    max-width: 800px;
    width: 100%;  
    margin: 0 auto; 
  }
  
  .text {
    max-width: 800px;
    width: 100%;  
    
    margin: 0 auto;
  }
  