th,
td {
  border: 1px solid;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
}

table {
  border: 1px solid;

  margin: 0 auto;
}

.kaydet {
  position: absolute;
  top: 11px;
  right: 102px;
}
.bitir {
  position: absolute;
  top: 59px;
  right: 120px;
}
@media (max-width: 30em) {
  table {
    max-width: 100%;
    width: 100%;
  }

  th,
  td {
    white-space: normal;
    max-width: none;
  }

  .kaydet,
  .bitir {
    position: static;
    margin-top: 0.625em;
    margin-right: auto;
    margin-left: auto;
  }
}
